.deviceconfig
.submodconfig
sdkconfig.old
__pycache__
build
docs
*.pyc
.DS_Store

# Over-size zip file handling
.zipconfig
tools/linux64/doxygen/doxygen
tools/macos/doxygen/Frameworks/libclang.dylib
tools/macos/doxygen/Resources/doxygen