[submodule "tools/esp-idf"]
	path = tools/esp-idf
	url = https://github.com/espressif/esp-idf.git
	branch = release/v4.0
[submodule "libraries/esp-aws-iot"]
	path = libraries/esp-aws-iot
	url = https://github.com/espressif/esp-aws-iot.git
